<a href="https://colab.research.google.com/github/camilamurillo1/Evaluacion/blob/main/Girona_ExtraccionDeCaracteristicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install funpymodeling

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from funpymodeling.exploratory import freq_tbl

In [3]:
df= pd.read_excel('Nulos2Girona.xlsx') 
df

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,license,calculated_host_listings_count_private_rooms,number_of_reviews,number_of_reviews_l30d,calculated_host_listings_count_entire_homes
0,0,14551,20230300000000,57237,1,5,41.996500,2.836460,2,1,1,0,1,56,0,0
1,1,1205757,20230300000000,6586355,1,1,41.793040,2.774120,2,1,1,0,1,60,0,0
2,2,1212820,20230300000000,6620645,2,3,42.112840,3.166700,4,1,2,0,0,74,0,2
3,3,751638,20230300000000,3680160,6,6,42.369580,2.980300,2,1,2,0,5,9,0,1
4,4,41342,20230300000000,180072,2,3,42.346550,3.204630,4,1,1,0,0,11,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,19650,858387000000000000,20230300000000,26281633,34,44,41.957265,3.201288,8,4,1,0,0,0,0,34
19651,19651,858396000000000000,20230300000000,444428600,3,3,41.699070,2.844080,4,1,1,0,0,0,0,1
19652,19652,858411000000000000,20230300000000,491503593,9,11,41.813720,3.064465,4,2,3,0,0,0,0,9
19653,19653,858418000000000000,20230300000000,389605038,111,121,41.809375,3.053910,4,2,3,0,0,0,0,54
19654,19654,858424000000000000,20230300000000,491503593,9,11,41.810169,3.066358,5,3,3,0,0,0,0,9

In [4]:
freq_tbl(df)

'No categorical variables to analyze.'

In [ ]:
df.info()

In [6]:
table1= freq_tbl(df['number_of_reviews'])
table1

'No categorical variables to analyze.'

In [7]:
table2= freq_tbl(df['review_scores_cleanliness'])
table2

KeyError: ignored

In [8]:
table3= freq_tbl(df['review_scores_location'])
table3

KeyError: ignored

In [9]:
table4= freq_tbl(df["host_acceptance_rate"])
table4

KeyError: ignored

In [ ]:
table5= freq_tbl(df['property_type'])
table5

In [ ]:
table6= freq_tbl(df['availability_365'])
table6

In [ ]:
table7= freq_tbl(df['review_scores_communication'])
table7

In [ ]:
table8= freq_tbl(df['review_scores_value'])
table8