<a href="https://colab.research.google.com/github/camilamurillo1/Evaluacion/blob/main/USA_ExtraccionDeCaracteristicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install funpymodeling

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from funpymodeling.exploratory import freq_tbl

In [20]:
df= pd.read_csv('NulosUSA.csv') 
df

,Unnamed: 0,ï»¿id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,...,room_type.1,bathrooms_text.1,amenities.1,price.1,has_availability.1,calendar_last_scraped.1,first_review.1,last_review.1,license.1,instant_bookable.1
0,0,9.580000e+02,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Entire home/apt,1 bath,"[""Oven"", ""Self check-in"", ""Cooking basics"", ""L...",$202.00,t,06/03/2023,23/07/2009,19/02/2023,City Registration Pending,f
1,1,5.858000e+03,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Entire home/apt,1 bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Hange...",$235.00,t,06/03/2023,03/05/2009,06/08/2017,x,f
2,2,8.142000e+03,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Private room,4 shared baths,"[""Security cameras on property"", ""Host greets ...",$56.00,t,06/03/2023,08/09/2014,27/10/2022,x,f
3,3,8.339000e+03,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Entire home/apt,1.5 baths,"[""Oven"", ""Cooking basics"", ""TV"", ""Smoke alarm""...",$575.00,t,06/03/2023,25/09/2009,28/06/2019,STR-0000264,f
4,4,8.739000e+03,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Private room,1 private bath,"[""Paid parking garage off premises"", ""Luggage ...",$110.00,t,06/03/2023,01/08/2009,25/02/2023,STR-0000028,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,6931,8.180000e+17,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Entire home/apt,1 bath,"[""Security cameras on property"", ""Self check-i...",$164.00,t,06/03/2023,x,x,147904,t
6932,6932,8.180000e+17,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Entire home/apt,1 bath,"[""Cooking basics"", ""Luggage dropoff allowed"", ...",$228.00,t,06/03/2023,03/03/2023,03/03/2023,2023-001477STR,f
6933,6933,8.180000e+17,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Private room,1 shared bath,"[""TV"", ""Free dryer – In unit"", ""Mountain view""...",$104.00,t,06/03/2023,x,x,x,f
6934,6934,8.180000e+17,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Private room,1 shared bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Centr...",$65.00,t,06/03/2023,x,x,2022-012562STR,f
6935,6935,8.190000e+17,0.0,2.020000e+13,0.0,0.0,0.0,0.0,0.0,0.0,...,Entire home/apt,1 bath,"[""Carbon monoxide alarm"", ""Security cameras on...",$375.00,t,06/03/2023,x,x,x,t

In [ ]:
freq_tbl(df)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6936 entries, 0 to 6935
Columns: 111 entries, Unnamed: 0 to instant_bookable.1
dtypes: float64(70), int64(6), object(35)
memory usage: 5.9+ MB

In [28]:
table1= freq_tbl(df['number_of_reviews'])
table1

'No categorical variables to analyze.'

In [29]:
table2= freq_tbl(df['review_scores_cleanliness'])
table2

'No categorical variables to analyze.'

In [30]:
table3= freq_tbl(df['review_scores_location'])
table3

'No categorical variables to analyze.'

In [31]:
table4= freq_tbl(df["host_acceptance_rate"])
table4

'No categorical variables to analyze.'

In [32]:
table5= freq_tbl(df['property_type'])
table5

'No categorical variables to analyze.'

In [33]:
table6= freq_tbl(df['availability_365'])
table6

'No categorical variables to analyze.'

In [34]:
table7= freq_tbl(df['review_scores_communication'])
table7

'No categorical variables to analyze.'

In [36]:
table8= freq_tbl(df['review_scores_value'])
table8

'No categorical variables to analyze.'